body {
	text-align: center;
}
header {
	background-color: #4286f4;
	color: white;
	text-transform: uppercase;
}
nav {
	background-color: #bc2929;
	padding: 15px 0;
}
a {
	margin: 0 20px;
	letter-spacing: 1;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-bottom: 2px solid white;
}
footer {
	background-color: #92b1ef;
	text-transform: uppercase;
}
.lfooter {
	float: left;
}
.rfooter {
	float: right;
}
.clearfix {
	overflow: auto;
	content: "";
	clear: both;
}
img {
	margin: 40px 8px;
}